<app-header
  (isViewSearchResults)="isViewResult = $event"
  (searchItemResults)="onUpdateSearch($event)"
  (isOpenFilter)="isOpenedFilter = $event"></app-header>
<app-filter-cards
  *ngIf="isOpenedFilter"
  [viewSort]="viewCountSort"
  [dateSort]="dateSort"
  [titleFilter]="titleSort"
  (updateViewSort)="viewCountSort = $event"
  (updateDateSort)="dateSort = $event"
  (updateTitleSort)="titleSort = $event"></app-filter-cards>
<app-search-results>
  <app-cards-list
    [searchCardsResult]="
      searchItems
        | filterTitleCards: titleSort
        | sortDate: dateSort
        | sortView: viewCountSort
    "></app-cards-list>
</app-search-results>
