.cards__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 10px;
  gap: 34px;
  list-style: none;
}