@import 'src/scss/variables';
@import 'src/scss/mixins';

.user {
  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__name {
    font-size: 14px;
    color: #818080;
    margin-right: 6px;
  }
}

.settings__icon {
  @include style-icon;
  width: 22px !important;
}
