<div class="dialog">
  <h2 class="dialog-title">group-dialog works!</h2>
  <ul class="dialog-list">
    @for (message of messages; track message) {
      <li
        [ngClass]="{
          'message-user': localData?.uid !== message.id,
          'message-own': localData?.uid === message.id
        }">
        <div
          [ngClass]="{
            'message-left': localData?.uid !== message.id,
            'message-right': localData?.uid === message.id
          }">
          <div class="message-info">
            <h4 class="message-info--name">
              {{ localData?.uid !== message.id ? message.name : 'My' }}
            </h4>
            <p class="message-info--time">
              {{ message.time | date: "M/dd/ yyyy 'at' hh:mm a" }}
            </p>
          </div>
          <p class="message-text">{{ message.message }}</p>
        </div>
      </li>
    } @empty {
      <li>There are no items.</li>
    }
  </ul>
  <app-dialog-form class="dialog-form" [groupId]="groupId"></app-dialog-form>
</div>
