<div class="dialog">
  <div class="dialog-header">
    <div class="dialog-link--block">
      <a
        class="dialog-link"
        [routerLink]="['']">
        <mat-icon>arrow_back</mat-icon>
      </a>
    </div>
    <h3 class="dialog-title">
      {{ title }}
    </h3>
    <div class="dialog-btns">
      <button
        mat-icon-button
        [disabled]="disabledBtn$ | async"
        (click)="runUpdateMessage()">
        <mat-icon>cached</mat-icon>
      </button>
      @if (disabledBtn$ | async) {
        <div class="timer">{{ timeNow$ | async }} s</div>
      }
      @if (localData?.uid === groupCreatorId) {
        <button
          mat-icon-button
          (click)="deleteGroup()">
          <mat-icon>delete</mat-icon>
        </button>
      }
    </div>
  </div>
  <ul class="dialog-list">
    @for (message of messages; track message) {
      <li
        [ngClass]="{
          'message-user': localData?.uid !== message.id,
          'message-own': localData?.uid === message.id
        }">
        <div
          [ngClass]="{
            'message-left': localData?.uid !== message.id,
            'message-right': localData?.uid === message.id
          }">
          <div class="message-info">
            <h4 class="message-info--name">
              {{ localData?.uid !== message.id ? message.name : 'My' }}
            </h4>
            <p class="message-info--time">
              {{ message.time | date: "M/dd/ yyyy 'at' hh:mm a" }}
            </p>
          </div>
          <p class="message-text">{{ message.message }}</p>
        </div>
      </li>
    } @empty {
      <li>There are no items.</li>
    }
  </ul>
  <app-dialog-form
    class="dialog-form"
    [groupId]="groupId"
    [lastTimeSent]="lastSentTime"
    [messages]="messages"></app-dialog-form>
</div>
