<div class="form__block">
  <form class="example-form form" (submit)="onLoggingUser()">
    <h3 class="form__title">Login</h3>
    <mat-form-field>
      <mat-label>Login</mat-label>

      <input
        matInput
        class="form__input"
        [(ngModel)]="loginValue"
        name="login"
        autocomplete="none" />
      <mat-error *ngIf="loginValue.length < 2 && loginValue.length !== 0">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        autocomplete="none"
        [(ngModel)]="passwordValue"
        name="password" />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="form__btn"
      [disabled]="onBtnDisabled()">
      Login
    </button>
  </form>
</div>
