<div class="profile-container">
  <div class="profile">
    <h2 class="profile-title">Profile:</h2>
    <div class="profile-card">
      <div class="profile-card--avatar">
        <img
          class="profile-card--img"
          src="./assets/ava.png"
          priority
          alt="" />
      </div>
      <div class="profile-card--description">
        <h3 class="description">Name: {{ name }}</h3>
        <h3 class="description">Email: {{ email }}</h3>
        <h3 class="description">Id: {{ uid }}</h3>
        <h3 class="description">Register date: {{ createAt | date }}</h3>
      </div>
    </div>
  </div>
</div>
