@import '../../../../../scss/constants';
@import '../../../../../scss/mixins';

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 18px;
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0 0 16px var(--shadow);
  background: var(--background-form);
  border-radius: 10px;


  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: calc($default-height - 20px);
    border-radius: 10px;
  }

  &-title {
    display: flex;
    align-items: flex-start;
    width: 100%;
    font-size: 22px;
  }

  &-input {
    width: 100%;
  }

  &-btn {
    margin-top: 10px;
    width: 120px;
    font-size: 18px;
    font-weight: 500;

    @include hover-btn;
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 14px;

    &--click {
      color: var(--link);
      transition: color 0.2s ease-out;

      &:hover {
        color: var(--link-hover);
      }
    }
  }
}
