.main-section {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  max-width: 1420px;
  height: calc(100vh - 64px);
  margin: 0 auto;
}

.main-groups,
.main-people {
  width: 50%;
}
