<div *ngIf="card">
  <h4>{{ card.id }}</h4>
  <h4>{{ card.snippet.title }}</h4>
  <h4>{{ card.snippet.channelId }}</h4>
  <h4>{{ card.snippet.description}}</h4>
  <h4>{{ card.snippet.channelTitle }}</h4>
  <h4>{{ card.snippet.publishedAt }}</h4>
  <h4>{{ card.statistics.viewCount }}</h4>
  <h4>{{ card.statistics.likeCount }}</h4>
  <h4>{{ card.statistics.dislikeCount }}</h4>
  <h4>{{ card.statistics.favoriteCount }}</h4>
  <h4>{{ card.statistics.commentCount }}</h4>
  <h4>{{ card.snippet.channelTitle }}</h4>
</div>
