@import 'src/scss/variables';

.details {
  position: relative;
  display: flex;
  width: 100%;
  height: 540px;
  max-width: 1120px;
  margin: 0 auto;
  background: $background;
  border-radius: 8px;
  box-shadow: 0 0 14px #0000009a;

  @media (max-width: 987px) {
    flex-direction: column;
    height: auto;
  }

  &__image {
    border-bottom-left-radius: 8px;
    width: 60%;

    @media (max-width: 987px) {
      width: inherit;
      border-bottom-left-radius: 0;
      border-top-right-radius: 8px;
    }
  }

  &__block {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 20px 30px;

    @media (max-width: 987px) {
      width: inherit;
      gap: 30px;
    }
  }

  &__title {
    &-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-date {
      color: #8f8e8e;
      font-size: 12px;
    }
  }

  &__description {
    height: 80%;
    &-title {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 2px;
    }

    &-text {
      padding: 0;
      font-size: 14px;
      color: #5f5e5e;
    }
  }

  &__color {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 8px;
    border-bottom-right-radius: 12px;

    @media (max-width: 987px) {
      border-bottom-left-radius: 12px;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
  }

  &__statistics {
    display: flex;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    font-size: 12px;

    &-info {
      display: flex;
      align-items: center;
      gap: 2px;
      justify-content: center;

      &--logo {
        transform: scale(0.6);
      }
    }
  }
}