<div class="header__search search">
  <mat-icon svgIcon="logoIcon" class="header__logo"></mat-icon>
  <div class="search__form-block">
    <form class="search__form">
      <input
        type="text"
        placeholder="What are you want to find out?"
        class="search__form-input"
        [(ngModel)]="inputValue"
        name="value"
        autocomplete="off" />
    </form>
    <button mat-raised-button color="primary" class="search__form-button">
      search
    </button>
  </div>
</div>
