@import 'src/scss/variables';

.search {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px;
  justify-content: space-between;

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    position: relative;

    &-input {
      height: 24px;
      width: 392px;
      font-size: 16px;
      margin: 0;
      border: none;
      padding: 0 6px;
      background-color: $white;

      &:focus {
        outline: none;
        border: 1px solid $default-blue !important;
      }
    }

    &-block {
      display: flex;
      width: 476px;
      height: 24px;
      margin-right: 10px;
    }
  }
}

.settings__icon {
  display: flex;
  align-items: center;
  justify-content: center;
    width: 16px !important;
    height: 16px !important;
    margin: 0 !important;
}

.header__logo {
  width: 60px;
  padding: 0;
  height: 50px;
  fill: $default-blue;
  transition: fill 0.3s linear;
}
