<div class="header__search search">
  <button
    class="header__icon-btn"
    (click)="onRedirectToHome()">
    <mat-icon class="header__logo">
      <img
        class="header__logo-icon"
        src="./assets/logo.svg"
        alt="" />
    </mat-icon>
  </button>
  <div class="search__form-block">
    <form class="search__form">
      <input
        type="text"
        placeholder="What are you want to find out?"
        class="search__form-input"
        [(ngModel)]="inputValue"
        (ngModelChange)="onSearch(inputValue)"
        name="value"
        autocomplete="off"
        [disabled]="!loginService.getLog()" />
    </form>
  </div>
  <app-custom-button
    [buttonStyle]="settingsBtnStyle"
    [disabled]="onBtnDisabled()"
    (click)="onChangeFilterBtnStatus()">
    <mat-icon class="settings__icon">
      <img
        src="./assets/settings.svg"
        alt="" />
    </mat-icon>
  </app-custom-button>
</div>
