<div class="user__block">
  <span class="user__name">{{ getUserName() }}</span>
  <app-custom-button [buttonStyle]="userBtnStyle">
    <mat-icon class="settings__icon">
      <img
        class="user__logo"
        src="./assets/user-logo.svg"
        alt="" />
    </mat-icon>
  </app-custom-button>

  <app-custom-button
    [buttonStyle]="userBtnStyle"
    *ngIf="isUserLogged"
    (click)="onLogOut()">
    Log out
  </app-custom-button>
  <app-custom-button
    [buttonStyle]="userBtnStyle"
    *ngIf="!isUserLogged">
    Log in
  </app-custom-button>
</div>
