.dark {
  --default-color: #fff;
  --default-background: #08021dd7;
  --background-form: #08021d4a;
  --shadow: #ffecb3b6;
  --link: #e5ff00;
  --link-hover: #91ff00;
  --profile: #00000038;
  --hover-logo: #acbefa;
  --btn-group--bg: #5bb84f;
  --hover: #ffffff8f;
}
