.light {
  --default-color: #000;
  --default-background: #e3e3e3;
  --background-form:  #aeacb336;
  --shadow:#01040c3b;
  --link: #008cff;
  --link-hover: #cb71ff;
  --profile: #FFF;
  --hover-logo: #77f7f7;
  --btn-group--bg: #97fc8a;
  --hover: #00000048;
  --group-link: #044b4b;
  --border-main: #4487ec;
  --conversation: #c3e0ff;

}

