<li>
  <mat-card class="example-card item">
    <img
      class="item__img"
      mat-card-xl-image
      src="{{ card.value.imageLink }}"
      alt="{{ card.value.title }}" />
    <mat-card-content
      class="item__statistic"
      *ngIf="card.value.statistics !== null">
      <span class="item__info">
        <mat-icon class="item__info-logo">remove_red_eye</mat-icon>
        {{ card.value.statistics.viewCount }}
      </span>

      <span class="item__info">
        <mat-icon class="item__info-logo">thumb_up</mat-icon>
        {{ card.value.statistics.likeCount }}
      </span>

      <span class="item__info">
        <mat-icon class="item__info-logo">thumb_down</mat-icon>
        {{ card.value.statistics.dislikeCount || 0 }}
      </span>

      <span class="item__info">
        <mat-icon class="item__info-logo">forum</mat-icon>
        {{ card.value.statistics.commentCount }}
      </span>
    </mat-card-content>

    <mat-card-header class="item__description">
      <mat-card-title class="item__title"
        >#{{ getShortTitle(card.value.title) }}
      </mat-card-title>

      <mat-card-subtitle class="item__subtitle"
        >{{ getShortDescription(card.value.subTitle) }}
      </mat-card-subtitle>
    </mat-card-header>

    <div class="item__button-block">
      <mat-card-actions>
        <button
          mat-flat-button
          color="primary"
          class="item__button"
          (click)="onRunTo()">
          more...
        </button>
      </mat-card-actions>

      <mat-card-actions *ngIf="card.liked !== null">
        <button
          mat-icon-button
          color="primary"
          class="item__button-icon"
          (click)="onLikeCard()">
          <mat-icon *ngIf="card.liked; else notLiked">favorite</mat-icon>
          <ng-template #notLiked>
            <mat-icon>favorite_border</mat-icon>
          </ng-template>
        </button>
      </mat-card-actions>

      <mat-card-actions *ngIf="card.deleteBtn">
        <button
          mat-icon-button
          color="primary"
          class="item__button-icon"
          (click)="removeCustomCard()">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </div>

    <div
      class="item__color"
      [appDefaultColorCard]="card.value.date"></div>
  </mat-card>
</li>
