@import "src/scss/variables";

.admin {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 480px;
  align-items: center;
  border-radius: 12px;
  justify-content: center;
  background-color: $background;
  padding: 20px;
  box-shadow: 0 0 18px #0000004d;
}
