.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background: #e0e0e0;

  &__container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 960px;
    width: 100%;
    text-align: center;
  }

  &__text {
    font-size: 14px;
    color: #818080;
    margin: 0;
    margin-right: 6px;
  }
}