.conversation {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: var(--profile);
  height: 100%;
  max-height: 780px;
  border-radius: 12px;
  margin: 0 auto;
  border: 1px solid #000;
  overflow: hidden;

  &-header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    z-index: 2;
    margin: 0;
    padding: 4px;
    box-shadow: 0 0 12px #000;
  }

  &-title {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }

  &-list {
    padding: 12px;
    display: flex;
    flex-direction: column;
    height: inherit;
    gap: 12px;
    padding: 70px 20px 40px;
    overflow-y: auto;
  }

  &-form {
    position: sticky;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0 0 12px #000;
  }

  &-btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &-link {
    color: var(--link);

    &:hover {
      color: var(--link-hover);
    }

    &--block {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.message {
  &-right {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    max-width: 460px;
    padding: 2px 8px;
    height: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background: var(--bg-message-own);
    box-shadow: 6px 6px 10px #000000ad;
    &::after {
      content: '';
      width: 10px;
      height: 0;
      right: -20px;
      top: 0;
      position: absolute;
      border-left: 26px solid var(--bg-message-own);
      border-bottom: 7px solid transparent;
    }
  }

  &-left {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    background: var(--bg-message);
    max-width: 460px;
    padding: 2px 8px;
    height: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: -6px 6px 10px #000000ad;
    &::before {
      content: '';
      width: 10px;
      height: 0;
      left: -20px;
      top: 0;
      position: absolute;
      border-right: 26px solid var(--bg-message);
      border-bottom: 7px solid transparent;
    }
  }

  &-user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  &-own {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  &-info {
    display: flex;
    align-items: last baseline;
    gap: 6px;
    padding: 0;
    margin-bottom: 6px;
    color: var(--bg-message-title);

    &--name {
      font-size: 16px;
      font-weight: 500;
      padding: 0;
      margin: 0;
    }

    &--time {
      font-size: 12px;
      font-weight: 500;
      padding: 0;
      margin: 0;
      color: var(--bg-message-time);
    }
  }
  &-text {
    padding-left: 4px;
    text-wrap: wrap;
    word-break: break-all;
    font-size: 16px;
  }
}
