.header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &-logo{
    color: #fff;
    font-size: 22px;
    text-decoration: none;

    &:hover {
      color:var(--hover-logo);
    }

  }
}


.example-button-row {
  display: table-cell;
  max-width: 600px;
}