@import 'src/scss/variables';

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  height: 24px;
  border-radius: 5px;
  background: $default-blue !important;
  transition: background 0.3s linear;

  &:hover {
    background: $blue !important;
  }
}

:disabled {
  background-color: #9acdfc  !important;
}
