.mistake {
  display: flex;
  align-items: center;
  width: 220px;
  height: 80px;
  gap: 10px;
  font-size: 18px;

  &__icon{
    width: 90px;
    height: 70px;
    &-img{
      width: 100%;
      height: inherit;
    }
  }
}