<div class="delete-group">
  <h1
    class="delete-group--title"
    mat-dialog-title>
    Are you sure you want to delete the <span>{{ title }}</span>
    {{ isPersonalMesg ? 'conversation' : 'group' }}?
  </h1>

  <div class="delete-group--btns">
    <button
      mat-raised-button
      class="btn-close"
      type="button"
      (click)="onNoClick()">
      Close
    </button>
    <button
      mat-raised-button
      class="btn-delete"
      type="button"
      [disabled]="btnDisabled"
      (click)="removeDialog()">
      Remove
    </button>
  </div>
</div>
